.bac {
width: 350;
height: 350;
border-radius: 300 px;
position: absolute;
right: 50 px;
}

* {
margin: 0;
padding: 0;
background: #FFEE8C;
}

.title1 {
text-align: center;
}

.corporation {
width: 50 px;
position: relative;
top: 40 px;
left: 100 px;
}
